rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
    match /stories/{storyId} {
      allow read;
      // TODO: check for required fields
      // https://firebase.google.com/docs/firestore/security/rules-fields#requiring_specific_fields_in_new_documents
      allow create: if request.auth != null;
      allow update: if request.auth != null && request.auth.uid == resource.data.metaData.authorId;
      allow delete: if request.auth != null && request.auth.uid == resource.data.metaData.authorId;

      match /translations/{translationId} {
        allow read;
        allow create: if request.auth != null && request.auth.uid == request.resource.data.metaData.authorId;
        allow update: if request.auth != null && request.auth.uid == resource.data.metaData.authorId;
        allow delete: if request.auth != null && request.auth.uid == resource.data.metaData.authorId;

        // Not sure yet how exactly to protect these two subcollections.
        match /assets/{assetId} {
          allow read, write;
        }
        match /pending/{pendingId} {
          allow read, write;
        }
      }
    }
  }
}
